extends layout

block content
  h1= title
  p: a(href="//#{address}:3000?workspace=pision") I am pision workspace
  p: a(href="//#{address}:3000?workspace=pition") I am pition workspace
  p#msg Welcome to #{title}
