extends layout

block content
  h1= title
  p: a(href="//#{address}?workspace=pision") I am pision workspace
  p: a(href="//#{address}?workspace=pition") I am pition workspace
  p#msg Welcome to #{title}
