doctype html
html
  head
    title= title
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Pacifico&display=swap')
  body
    block content
